@import url(https://fonts.googleapis.com/css2?family=Dancing+Script&family=Tangerine&display=swap);

.home, .menu {
    background-attachment: fixed;
}

.about, nav a {
    padding: 1rem;
}

.about h1, .about-description b, .greeting h1 {
    font-family: 'Dancing Script';
}

*, .menu-description {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    scroll-behavior: smooth;
    animation: 1.2s appear;
    -webkit-animation: 1.2s appear;
}

@keyframes appear {
    0% {
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
    100% {
        clip-path: polygon(0 0, 99% 0, 100% 100%, 0 100%);
    }
}

.cart-sym {
    display: none;
}

.home {
    background-image: url(../pictures/main-pic.jpg);
    background-size: 100% 100%;
    min-width: 100%;
    min-height: 100vh;
}

nav {
    display: flex;
    justify-content: flex-start;
    max-height: 100vh;
}

nav .logo-title {
    flex: 0 0 50%;
    display: flex;
    color: brown;
}

.greeting p, nav a {
    color: #fff;
}

nav a {
    flex-shrink: 1;
    font-size: 1.2em;
    margin: 1.1rem;
    border-radius: 5px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    white-space: nowrap;
}

.price, nav a:hover, nav a:last-child {
    background-color: brown;
}

.about, .greeting div {
    background-color: #fff;
}

nav a:last-child:hover {
    background-color: #681b1b;
}

nav .logo-title h1 {
    font-family: cursive;
    font-size: 2em;
    padding: 1.3rem;
}

nav img {
    vertical-align: middle;
}

.greeting {
    opacity: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 87vh;
    width: 50%;
    margin: auto;
    animation: 1s greetings;
    -webkit-animation: 2s ease-out forwards greetings;
}

.footerText, .socials {
    margin-top: 1rem;
}

@keyframes greetings {
    from {
        transform: translateY(-100px);
        -webkit-transform: translateY(-100px);
        -moz-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
        -o-transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

.greeting h1 {
    color: #fff;
    font-size: 5em;
}

.greeting h1:not(span h1) {
    text-shadow: 5px 2px brown;
}

.greeting div {
    height: 3px;
    width: 45vw;
}

.greeting img {
    height: 30vh;
    filter: drop-shadow(2px 2px brown);
    -webkit-filter: drop-shadow(2px 2px brown);
}

.greeting span h1, span h1 {
    color: #000;
}

span {
    margin-bottom: 10px;
}

.greeting span {
    padding: 0 30px;
    background-color: brown;
}

.greeting img:first-child {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.about {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    flex-direction: column;
}

.footerText span, .menu-description, button {
    background-color: brown;
}

.about-title img {
    height: 10vh;
    width: 60vw;
}

.sample-pics-about {
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

.sample-pics-about img {
    width: 200px;
    height: 200px;
    box-shadow: 0 10px 10px gray;
}

.about-description {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 85%;
}

.footer-left, .menu-description {
    flex-direction: column;
    display: flex;
}

.about-description b {
    font-size: 2em;
}

.about img {
    max-width: 100vw;
    width: 20vw;
}

.menu {
    background-image: url(../pictures/menu-sample-pic.jpg);
    background-size: cover;
}

.Sinigang, .Sisig {
    background-attachment: fixed;
    background-size: contain;
}

.menu-description {
    width: 100%;
    font-size: 1.3em;
    color: #fff;
    min-height: 18vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 1rem;
}

.menu-container h1 a, .menu-container > *, .menuText, footer h1 {
    font-family: 'Dancing Script';
}

.menu-description img {
    width: 30vw;
}

.menu-container {
    display: flex;
    flex-direction: row;
    max-height: 100vh;
}

.menu-container > * {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.menu-container h1 a {
    font-size: 3em;
    color: #fff;
    text-shadow: 2px 2px brown;
}

.menu-container h1 {
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.menu-container h1:hover {
    scale: 1.1;
}

.Sinigang {
    background-image: url(../pictures/sample-dish1.jpg);
    width: 33.33vw;
    height: 33.33vh;
}

.Sisig {
    background-image: url(../pictures/sample-dish2.jpg);
    width: 33.33vw;
    height: 33.33vh;
}

.Adobo, .Bulalo, .Kare-kare, .Mechado, .Menudo, .Mungo, .Nilaga {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 33.33vw;
    height: 33.33vh;
}

.Adobo {
    background-image: url(../pictures/sample-dish3.jpg);
}

.Mechado {
    background-image: url(../pictures/mechado.jpg);
}

.Kare-kare {
    background-image: url(../pictures/kare-kare.jpg);
}

.Bulalo {
    background-image: url(../pictures/bulalo.webp);
}

.Menudo {
    background-image: url(../pictures/menudo.jpg);
}

.Mungo {
    background-image: url(../pictures/mungo.jpg);
}

.Nilaga {
    background-image: url(../pictures/nilaga.jpg);
}

.transparent-div {
    width: 100%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.transparent-div img {
    width: 50vw;
    filter: drop-shadow(2px 2px brown);
    -webkit-filter: drop-shadow(2px 2px brown);
}

.menuText {
    font-size: 8em;
    text-shadow: 2px 2px brown;
    color: #fff;
}

footer {
    min-height: 10vh;
    color: #fff;
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer-left {
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}

footer h1 {
    font-size: 3em;
}

.footerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerText span {
    padding: 0 1rem;
    font-style: italic;
    font-size: 1.2em;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials a {
    margin: 1rem;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #fff;
    padding: .5rem 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

button:hover {
    scale: 1.1;
}

.footerText img, footer img {
    height: 20vh;
}
.footer-left img {
    height: 50px;
    width: 50px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    margin-right: 10px;
}

.socials img {
    height: 30px;
    width: 30px;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

button:hover {
    background-color: #681b1b;
}

.footer-left a, footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s;
}

.footer-left a:hover, footer a:hover {
    color: brown;
}
.socials img {
    scale: 0.7;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.socials img:hover {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
}

.email {
    display: flex;
    justify-content: left;
    flex-direction: column;
}

input[type=email] {
    width: 20vw;
    height: 5vh;
    margin-bottom: .5rem;
    font-size: 1.2em;
}

textarea {
    resize: none;
    font-size: 1.2em;
}

button {
    width: 20%;
    height: 3vh;
    margin: .5rem .5rem .5rem 0;
    color: #fff;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

button:hover {
    background-color: #6b1c1c;
}

.location {
    display: flex;
    flex-basis: 60%;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    visibility: hidden;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: brown;
    border: 5px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
    background: #951313;
}

/* Responsive media queries */

@media (min-width: 768px) and (max-width: 1280px) {
    .greeting img {
        width: 80vw;
    }

    nav {
        background-color: brown;
        justify-content: center;
    }

    nav .logo-title {
        display: none;
    }

    footer {
        flex-direction: column;
    }

    footer input[type=email], footer textarea {
        width: 60vw;
    }
}

@media only screen and (max-width: 428px) {
    .greeting, nav {
        min-height: 100vh;
    }

    .menu-container *, nav {
        width: 100vw;
    }

    .cart-sym, nav {
        position: fixed;
    }

    nav {
        display: none;
        background-color: #883c3c;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transform: translateX(-1000px);
        z-index: 2;
        -webkit-transform: translateX(-1000px);
        -moz-transform: translateX(-1000px);
        -ms-transform: translateX(-1000px);
        -o-transform: translateX(-1000px);
    }

    .greeting img {
        height: 30vh;
        width: 90vw;
    }

    .greeting h1 {
        font-size: 3.5em;
    }

    .greeting div {
        height: 3px;
        width: 60vw;
        background-color: #fff;
    }

    .greeting span h1 {
        white-space: nowrap;
        font-size: 3.5em;
    }

    .about, .sample-pics-about {
        display: block;
    }

    .sample-pics-about img {
        box-shadow: none;
    }

    .sample-pics-about img:nth-child(odd), iframe {
        display: none;
    }

    .about h1 {
        text-align: center;
    }

    .about img {
        width: 100%;
    }

    .about-description {
        display: block;
        margin: 0 auto;
    }

    .footer-left, .menu-container, footer {
        display: flex;
    }

    .transparent-div {
        min-height: 35vh;
    }

    .email input, .transparent-div img {
        width: 80vw;
    }

    .menuText {
        font-size: 2em;
    }

    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        height: fit-content;
    }

    .footerText {
        margin-top: 1rem;
    }

    .email {
        margin: 1rem;
    }

    .footerText span {
        margin: 0;
    }

    .footer-left {
        margin-top: 1.5rem;
        flex-basis: auto;
    }

    .location {
        scale: .6;
    }

    .menu-description img {
        width: 90vw;
    }

    .menu-container {
        flex-direction: column;
    }

    .cart-sym {
        cursor: pointer;
        display: block;
        bottom: 0;
        right: 0;
        padding: 1rem;
        background-color: brown;
    }
}
